{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block title %}Campleu Official{% endblock %}
{% block content %}
<div class="container">
<center>
  <img class="card-img-top" src="{{ url_for('static', filename='img/logo_Camp.png') }}"  alt="Card image cap">
<div class="card">
  <div class="card-body">
    <h3 class="card-title">About - Campleu Official</h3>
    <p class="card-text">  </p>
  </div>


      <table border="0">
      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Owner
        </td>
        <td>:</td>
        <td> <b>Fajar Permana</b></td>
      </tr>
    </hr>
    <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Berdiri
        </td>
        <td>:</td>
        <td> <b>2019</b></td>
      </tr>

      <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Omset/Tahun
        </td>
        <td>:</td>
        <td> <b>+- 1.000.000.000</b></td>
      </tr>
<tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jumlah Pegawai
        </td>
        <td>:</td>
        <td> <b>100 Orang</b></td>
      </tr>
        <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alamat store
        </td>
        <td>:</td>
        <td> <b>Jl.suka haji blok2</b></td>
      </tr>
        <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Produksi/bulan
        </td>
        <td>:</td>
        <td> <b>4000 barang</b></td>
      </tr>
        <tr>
        <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jumlah Reseller
        </td>
        <td>:</td>
        <td> <b>3000 Reseller</b></td>
      </tr>
    </table>
<br>
</center>
</div>
<br>
<br>
<br>
{% endblock %}