{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block title %}Campleu Official{% endblock %}
{% block content %}
<br>
<div class="row">
	<div class="col-sm-12">
		<div class="card-deck">
		  <div class="card"><br>
		    <img src="{{ url_for('static', filename='img/kar_camp.jpg') }}" height="500px"  class="card-img-top" alt="gambar">
		    <div class="card-body">
		      <h5 class="card-title">Karung Campleu</h5>
		      <p class="card-text">Karung serbaguna dari Campleu. Cocok dipakai untuk 17 agustusan anak anak berlomba. atau bisa juga di pakai untuk menyimpan barang berharga</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">IDR 99k</small>
		    </div>
		  </div>
		  <div class="card"><br>
		    <img src="{{ url_for('static', filename='img/spt_camp.jpg') }}" height="500px" class="card-img-top" alt="gambar">
		    <div class="card-body">
		      <h5 class="card-title">Sepatu Campleu Herang</h5>
		      <p class="card-text">Sesuai dengan namanya sepatu ini terbuat dari bahan kulit asli yang di poles sampai herang</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">IDR 399k</small>
		    </div>
		  </div>
		  <div class="card"><br>
		    <img src="{{ url_for('static', filename='img/ts_camp.jpg') }}" height="500px" class="card-img-top" alt="gambar">
		    <div class="card-body">
		      <h5 class="card-title">Karaos Campleu</h5>
		      <p class="card-text">Tshirt dari campleu ini berbahan cotton combad 30s yang adem di tambah dengan sablon berbahan plastisol, cocok untuk menambah kegantengan</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">IDR 249k</small>
		    </div>
		  </div>
		</div>
	</div>
</div>
<br><br><br>
{% endblock %}