{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block title %}Campleu Official{% endblock %}
{% block content %}
<div class="container">
<center>
  <img class="card-img-top" src="{{ url_for('static', filename='img/logo_Camp.png') }}"  alt="Card image cap">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Contact us - Campleu Official</h5>
    <p class="card-text"> Tersedia di berbagai online store </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Whatsapp : 08963900xxx</li>
    <li class="list-group-item">Instagram : @Campleu_official</li>
    <li class="list-group-item">Adress : Jl.Sukahaji blok 2</li>
  </ul>
  <div class="card-body">
    <a href="https://goo.gl/maps/VWdGf8Uub8bxnrJ29" class="card-link">Google maps</a>
    <a href="#" class="card-link">Direct Sosial Media</a>
  </div>
</div>
</center>

  <br>
<br>
<br>
{% endblock %}