{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block title %}Campleu Official{% endblock %}
{% block content %}

<div class="col-md-12 ">
  <center>
  <font color="white"><h1 class="display-12">Welcome Campleu Official</h1>
  <p class="lead">a youth business engaged in fashion.</p>
  <hr class="my-12">
  <p>Design by : Fajar Permana&copy;</p>
  <p class="lead">
    <a class="btn btn-outline-info btn-lg" href="/contact" role="button">Contact us</a>
  </p>
    </font></center>
</div>

{% endblock %}